.Header
  .Header__logo
    FURIMA
.Breadbar
  フリマ ＞ マイページ
.Mypages
  .Mypages_main
    .Mypages_main_side
      %nav.Mypages_main_side_list
        .Mypages_main_side_list_name
          %ul
            %li マイページ
  
    .Mypages_right
      .Mypages_right_top
        .Mypages_right_top_inside
          .Mypages_right_top_inside_face
          .Mypages_right_top_inside_name
            %h2 Masami
          .Mypages_right_top_inside_count
            %h2 評価 ２  出品数 ２

      .Mypages_right_middle
        .Mypages_right_middle_tabs
          .Mypages_right_middle_tabs_tab1
            %h2 お知らせ
          .Mypages_right_middle_tabs_tab2
            %h2 やることリスト
          .Mypages_right_middle_tabs_panels
            .Mypages_right_middle_tabs_panels_show
            
            
      .Mypages_right-bottom
        .Mypages_right-bottom_tabs
          .Mypages_right-bottom_tab3
          .Mypages_right-bottom_tab4
        .Mypages_right-bottom_box
