.Header
  .Header__logo
    FURIMA
.Breadbar
  .Breadbar_info
    フリマ ＞ マイページ
.Mypages
  .Mypages_main
    %nav.Mypages_main_side
      %ul.Mypages_main_side__lists
        %li.Mypages_main_side_list
          .Mypages_main_side_list_name
            %p
              = link_to 'マイページ', card_data_path
            %p
        %li.Mypages_main_side_list
          .Mypages_main_side_list_name
            %p 出品した商品 - 売却済み 
            %p
      %p 設定      
      %ul.Mypages_main_side__lists
        %li.Mypages_main_side_list
          .Mypages_main_side_list_name
            -if @card == nil
              %p
                = link_to '支払い方法', card_new_path
              %p 
            -else 
              %p
                = link_to '支払い方法', card_data_path
              %p 
        %li.Mypages_main_side_list
          .Mypages_main_side_list_name
            %p
              = link_to 'ログアウト', destroy_user_session_path, method: :delete
            %p
    .Mypages_right
      .Mypages_right_top
        .Mypages_right_top_inside
          .Mypages_right_top_inside_face
            =image_tag "member_photo_noimage_thumb.png"
          .Mypages_right_top_inside_name
            %p Masami
          .Mypages_right_top_inside_count
            %p 評価 ２  出品数 ２

      .Mypages_right_middle
        .Mypages_right_middle_tabs
          .Mypages_right_middle_tabs_tab1
            %p お知らせ
          .Mypages_right_middle_tabs_tab2
            %p やることリスト
        .Mypages_right_middle_panels
          .Mypages_right_middle_panels_show
            %p 一覧を見る
            
            
      .Mypages_right_bottom
        .Mypages_right_bottom_list
          %p 購入した商品
        .Mypages_right_bottom_tabs
          .Mypages_right_bottom_tabs_tab3
            %p 取引中
          .Mypages_right_bottom_tabs_tab4
            %p 過去の取引
        .Mypages_right_bottom_box




