.Notification {
  .notice {
    background-color: #38AEF0;
    color: $white-color;
    text-align: center;
  }

  .alert {
    background-color: #F35500;
    color: $white-color;
    text-align: center;
  }
}