.toppage-header{
  padding: 0 60px;
}

.header-brock{
  max-width: 1040px;
  width: 100%;
  min-height: 82px;
  margin: 0 auto;
  padding: 15px 0 0;
}
.header-top{
  position: relative;
  display: flex;
  align-items: center;
}

.left-top {
  padding-bottom: 10px;
  margin-right: 30px;
  border-radius: 4px;
  &__icon{
    width: 140px;
    display: block;
    &__image{
      width: 100%;
      vertical-align: bottom;
    }
  }
}

.right-top{
  margin-left: auto;
  width: 100%;
}

.search-form{
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  &__name{
    width: calc(100% - 26px);
    height: 36px;
    padding: 0 0 0 5px;
  }
  &__send{
    width: 36px;
    height: 36px;
    border: 0;
    cursor: pointer;
    background-color: $main-color;
    padding: 8px;
    &__image{
      width: 100%;
    }
  }
}

.header-bottom{
  font-size: 14px;
  display: flex;
  min-height: 42px;
}

.left-bottom{
  position: relative;
  display: flex;
  &__category{
    line-height: 38px;
    padding: 0 0 0 16px;
    position: relative;
    &__icon{
      color: #333;
      text-decoration: none;
      line-height: 32px;
      background-position: center right;
      background-repeat: no-repeat;
      background-size: 18px;
      padding-right: 30px;
      i{
        color: $main-color;
      }
      &__letter{
        font-weight: 700;
      }
    }
  }
}

.right-bottom{
  margin-left: auto;
  display: flex;
  &__button{
    position: relative;
    cursor: pointer;
    color: #333;
    padding-left: 16px;
    &__login{
      background-color: white;
      border: 1px solid #0095ee;
      border-radius: 4px;
      color: #0095ee;
      display: block;
      font-size: 14px;
      padding: 5px 10px;
      text-decoration: none;
      transition: all 0.3s ease-out 0s;
    }
    &__registration{
      background-color: $main-color;
      border: 1px solid $main-color;
      border-radius: 4px;
      color: white;
      display: block;
      font-size: 14px;
      padding: 5px 10px;
      text-decoration: none;
      transition: all 0.3s ease-out 0s;
    }
  }
}
