.in__footer {
  height: 220px;
  text-align: center;
  background-color: $back-color;
  &--inner {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
  }
  h1 {
    margin: 40px 0 0;
    display: inline-block;
  }
  .logo__image {
    height: 49px;
    width: 185px;
  }
  ul {
    font-size: 12px;
  }
  li {
    display: inline-block;
    margin: 0 0 0 16px;
  }
  .small {
    font-size: 11px;
  }
}