.in__footer
  .in__footer--inner
    %ul
      プライバシーポリシー
      %li
      フリマ利用規約
      %li
      特定商取引に関する表記
    %h1
      = image_tag 'logo.png', alt: 'no,image', class:'logo__image'
    .small
      @FURIMA