= link_to new_item_path, class: 'link-button' do
  .link-button__icon
    %span.link-button__icon__letter
      出品する
    %span
    = image_tag "icon_camera.png", size: "54x54", class: 'link-button__icon__image'