= render "header"
.breadCrumbs フリマ ＞ テレワーク
.base
  .base__main
    .base__main__top
      .base__main__top__name テレワーク
      .base__main__top__photo
        .base__main__top__photo__image
          =image_tag "商品詳細.png"
      .base__main__top__value
        .base__main__top__value__price ¥1,000,000
        .base__main__top__value__tax (税込) 送料込み
      .base__main__top__btn 購入画面へ進む
      .base__main__top__info テレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワークテレワーク
      .base__main__top__table
        .base__main__top__table__box1
          .base__main__top__table__box1__left 商品者
          .base__main__top__table__box1__right 太郎メルカリ
        .base__main__top__table__box2
          .base__main__top__table__box2__left カテゴリー
          .base__main__top__table__box2__right おもちゃ・ホビー・グッズ
        .base__main__top__table__box3
          .base__main__top__table__box3__left ブランド
          .base__main__top__table__box3__right zoom
        .base__main__top__table__box3
          .base__main__top__table__box3__left 商品の状態
          .base__main__top__table__box3__right 全体的に状態が悪い
        .base__main__top__table__box3
          .base__main__top__table__box3__left 送料の負担
          .base__main__top__table__box3__right 送料込み（出品者負担）
        .base__main__top__table__box3
          .base__main__top__table__box3__left 配送の方法
          .base__main__top__table__box3__right ゆうパック
        .base__main__top__table__box3
          .base__main__top__table__box3__left 発送元の地域
          .base__main__top__table__box3__right 香川県
        .base__main__top__table__box3
          .base__main__top__table__box3__left 発送日の目安
          .base__main__top__table__box3__right ４〜７日で発送
      .base__main__top__mark
    .base__main__comment
      %input.base__main__comment__text
      %p.base__main__comment__info 相手のことを考え丁寧なコメントを心がけましょう。<br>不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .base__main__comment__btn コメントする
    .base__main__others
      %a.base__main__others__title 太郎メルカリさんのその他の出品
      .base__main__others__list
        .base__main__others__list__image1
          =image_tag "出品.png"
        .base__main__others__list__image1
          =image_tag "出品.png"
        .base__main__others__list__image1
          =image_tag "出品.png"
        .base__main__others__list__image1
          =image_tag "出品.png"
    .base__main__listing
      %a.base__main__listing__title 画材（おもちゃ・ホビー・グッズ）その他の商品
      .base__main__listing__list
        .base__main__listing__list__image1
          =image_tag "出品.png"
        .base__main__listing__list__image1
          =image_tag "出品.png"
        .base__main__listing__list__image1
          =image_tag "出品.png"
        .base__main__listing__list__image1
          =image_tag "出品.png"
.eight
  .eight__box
    %h2.eight__box__top
      だれでもかんたん、人生を変えるフリマアプリ
    %p.eight__box__middle
      今すぐ無料ダウンロード！
    .eight__box__bottom
= render "footer"
= render "button" 
